@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  font-family: "Open Sans", sans-serif;
}

h1{
  color: hsl(326, 100%, 48%);
}

#add,
#deleteAll{
  border-style: none;
  color: white;
  border-radius: 3px;
  padding: 0.25rem;
}

#add {
  background-color:hsl(153, 94%, 73%);
}

#deleteAll {
  background-color:  hsl(0, 94%, 73%);
}
